@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    height: 100vh;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'Roboto', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height: 100vh;
}

.nav-wrapper > a:first-child, .nav-wrapper > a:first-child > div {
    height: 100%;
    outline: none;
}

.background > img {
    width: 100%;
}

#home-section {
	height: 100vh;
	left: 0;
	overflow: hidden;
	padding: 56px 0 0 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#home-section .progress {
	left: 0;
	margin: 0 !important;
	position: absolute;
	top: 56px;
}

#app-frame {
	width: 100%;
	height: 100%;
	border: none;
}

#settings-section, #institution-section {
	display: none;
}

#settings-section .card-panel {
	margin-top: .75rem !important;
}

.featured-img {
	position: absolute;
	top: 0;
	left: 0;
}

.featured-img img {
	width: 100%;
}

.featured-img span {
	position: absolute;
	bottom: 15px;
	left: 10px;
}

#institution-text {
	bottom: -210px;
	left: 0;
	padding: 15px;
	position: absolute;
	width: 100%;
}

@media screen and (min-width: 373px) {
	#institution-text {
		bottom: -170px;
	}
}

@media screen and (min-width: 530px) {
	#institution-text {
		bottom: -140px;
	}
}

.section-title {
	font-size: 24px;
	font-weight: 300;
	display: block;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.settings-description {
	display: block;
}